# üìä Customer Sentiment Analysis - iPhone 15 128GB

**Objective**: Analyze customer sentiment using reviews from Flipkart for the iPhone 15 128GB model using scraping, preprocessing, sentiment classification, and visualization.

In [1]:
#DATA COLLECTION (WEB SCRAPING)
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import nltk
from textblob import TextBlob
import requests
import re


#START CHROME WEBDRIVER
driver = webdriver.Chrome()

## üì• Data Loading

In [2]:
# INITIALIZE LISTS TO STORE DATA
name=[]
rating=[]
review=[]
City = []
#FLIPKART PRODUCT REVIEWS URL
url = """https://www.flipkart.com/apple-iphone-15-blue-128-gb/product-reviews/itmbf14ef54f645d?pid=MOBGTAGPAQNVFZZY&lid=LSTMOBGTAGPAQNVFZZY7RHDU7&marketplace=FLIPKART"""
#SCRAPE MULTIPLE PAGES
for i in range(1,31):
    new_url = url + "&page=" +str(i)
    r = requests.get(new_url)
    soup = BeautifulSoup(r.text , "html.parser")
#EXTRACTING NAMES
    names = soup.find_all("p" , {"class" : "_2NsDsF AwS1CA"})
    for i in names:
        name.append(i.text)
    name
#EXTRACTING RATINGS
    ratings = soup.find_all("div" , {"class" : "XQDdHH Ga3i8K"})
    for i in ratings:
        rating.append(i.text)
    rating
#EXTRACTING REVIEWS
    reviews = soup.find_all("div" , {"class" : "ZmyHeo"})
    for i in reviews:
        review.append(i.text)
    review

            
print(len(name) , len(review) , len(rating))

300 300 300

## üìä Data Exploration

In [3]:
df = pd.DataFrame({"CUSTOMER NAME" : name , "RATING" : rating , "REVIEW" : review})
df

,CUSTOMER NAME,RATING,REVIEW
0,bijaya mohanty,5,Just go for it.Amazing one.Beautiful camera wi...
1,Rishabh Jha,5,Awesome üî•üî•‚ò∫Ô∏èREAD MORE
2,Ajin V,5,High quality cameraüòçREAD MORE
3,Mousam Guha Roy,4,Very niceREAD MORE
4,Nikhil Kumar,5,Switch from OnePlus to iPhone I am stunned wit...
...,...,...,...
295,Prajwal Suryan,5,"Awesome phone, camera‚úÖ, build‚úÖ, battery lasts ..."
296,Sahaj Modi,5,Amazing Camera and Nice Colour...READ MORE
297,Amit Srivastava,5,It is the best iPhone that I have ever seen af...
298,John Fanai,5,"Awesome ü´∞ As a first time ios user, I literall..."
299,Md Nisar Ansari,5,I am very happy to buy it because its camera i...

## üßπ Data Cleaning

In [4]:
#DATA CLEANING
df["CUSTOMER NAME"] = df["CUSTOMER NAME"].str.title()
df["REVIEW"]= df["REVIEW"].str.replace("READ MORE" , "")
df

,CUSTOMER NAME,RATING,REVIEW
0,Bijaya Mohanty,5,Just go for it.Amazing one.Beautiful camera wi...
1,Rishabh Jha,5,Awesome üî•üî•‚ò∫Ô∏è
2,Ajin V,5,High quality cameraüòç
3,Mousam Guha Roy,4,Very nice
4,Nikhil Kumar,5,Switch from OnePlus to iPhone I am stunned wit...
...,...,...,...
295,Prajwal Suryan,5,"Awesome phone, camera‚úÖ, build‚úÖ, battery lasts ..."
296,Sahaj Modi,5,Amazing Camera and Nice Colour...
297,Amit Srivastava,5,It is the best iPhone that I have ever seen af...
298,John Fanai,5,"Awesome ü´∞ As a first time ios user, I literall..."
299,Md Nisar Ansari,5,I am very happy to buy it because its camera i...

## üìù Text Preprocessing

In [5]:
def split_into_sentences(text):
    if not isinstance(text, str):
        return []
    return re.findall(r'[^.!?]+[.!?]', text)

# Apply the function
df["REVIEW1"] = df["REVIEW"].apply(split_into_sentences)
df

,CUSTOMER NAME,RATING,REVIEW,REVIEW1
0,Bijaya Mohanty,5,Just go for it.Amazing one.Beautiful camera wi...,"[Just go for it., Amazing one.]"
1,Rishabh Jha,5,Awesome üî•üî•‚ò∫Ô∏è,[]
2,Ajin V,5,High quality cameraüòç,[]
3,Mousam Guha Roy,4,Very nice,[]
4,Nikhil Kumar,5,Switch from OnePlus to iPhone I am stunned wit...,[Switch from OnePlus to iPhone I am stunned wi...
...,...,...,...,...
295,Prajwal Suryan,5,"Awesome phone, camera‚úÖ, build‚úÖ, battery lasts ...",[]
296,Sahaj Modi,5,Amazing Camera and Nice Colour...,[Amazing Camera and Nice Colour.]
297,Amit Srivastava,5,It is the best iPhone that I have ever seen af...,[It is the best iPhone that I have ever seen a...
298,John Fanai,5,"Awesome ü´∞ As a first time ios user, I literall...","[Awesome ü´∞ As a first time ios user, I literal..."
299,Md Nisar Ansari,5,I am very happy to buy it because its camera i...,[I am very happy to buy it because its camera ...

## üß† Sentiment Analysis

In [6]:
import pandas as pd
from textblob import blob
def get_polarity(sentences):
    return [TextBlob(sentence).sentiment.polarity for sentence in sentences]
df["Polarity"] = df["REVIEW1"].apply(get_polarity)
df
df["Subjectivity"] = df["REVIEW"].apply(lambda x : TextBlob(x).sentiment.subjectivity)
df

,CUSTOMER NAME,RATING,REVIEW,REVIEW1,Polarity,Subjectivity
0,Bijaya Mohanty,5,Just go for it.Amazing one.Beautiful camera wi...,"[Just go for it., Amazing one.]","[0.0, 0.6000000000000001]",0.633333
1,Rishabh Jha,5,Awesome üî•üî•‚ò∫Ô∏è,[],[],1.000000
2,Ajin V,5,High quality cameraüòç,[],[],0.540000
3,Mousam Guha Roy,4,Very nice,[],[],1.000000
4,Nikhil Kumar,5,Switch from OnePlus to iPhone I am stunned wit...,[Switch from OnePlus to iPhone I am stunned wi...,"[0.0, 1.0]",1.000000
...,...,...,...,...,...,...
295,Prajwal Suryan,5,"Awesome phone, camera‚úÖ, build‚úÖ, battery lasts ...",[],[],0.500000
296,Sahaj Modi,5,Amazing Camera and Nice Colour...,[Amazing Camera and Nice Colour.],[0.6000000000000001],0.950000
297,Amit Srivastava,5,It is the best iPhone that I have ever seen af...,[It is the best iPhone that I have ever seen a...,"[0.8, 0.0, 0.0]",0.733333
298,John Fanai,5,"Awesome ü´∞ As a first time ios user, I literall...","[Awesome ü´∞ As a first time ios user, I literal...","[0.75, 0.15, 0.084, 0.0, 0.0, 0.0]",0.576364
299,Md Nisar Ansari,5,I am very happy to buy it because its camera i...,[I am very happy to buy it because its camera ...,[0.6459999999999999],0.868000

In [7]:
from statistics import mean
def calculate_average_polarity(polarities):
    return mean(polarities) if polarities else 0
df["Average_Polarity"] = df["Polarity"].apply(calculate_average_polarity)
df.head(10)

,CUSTOMER NAME,RATING,REVIEW,REVIEW1,Polarity,Subjectivity,Average_Polarity
0,Bijaya Mohanty,5,Just go for it.Amazing one.Beautiful camera wi...,"[Just go for it., Amazing one.]","[0.0, 0.6000000000000001]",0.633333,0.300000
1,Rishabh Jha,5,Awesome üî•üî•‚ò∫Ô∏è,[],[],1.000000,0.000000
2,Ajin V,5,High quality cameraüòç,[],[],0.540000,0.000000
3,Mousam Guha Roy,4,Very nice,[],[],1.000000,0.000000
4,Nikhil Kumar,5,Switch from OnePlus to iPhone I am stunned wit...,[Switch from OnePlus to iPhone I am stunned wi...,"[0.0, 1.0]",1.000000,0.500000
5,Prithivi Boruah,5,Camera Quality Is Improved Loving It,[],[],0.950000,0.000000
6,Akshay Meena,5,"So beautiful, so elegant, just a vowwwüòç‚ù§Ô∏è",[],[],1.000000,0.000000
7,Flipkart Customer,5,Awesome photography experience. Battery backup...,"[Awesome photography experience., Battery bac...","[1.0, 0.7, 0.5]",0.700000,0.733333
8,Arunji Govindaraju,5,Awesome product very happy to hold this. Bette...,"[Awesome product very happy to hold this., Be...","[1.0, 0.5, 0.5, 0.0, -0.1, 0.6666666666666666]",0.557407,0.427778
9,Sheetla Prasad Maurya,4,Best mobile phoneCamera quality is very nice B...,[Best mobile phoneCamera quality is very nice ...,[0.738],0.676000,0.738000

In [8]:
def sentiment(pol):
    if pol >= 0.75:
        return "Extremely Positive"
    elif pol > 0:
        return "Positive"
    elif pol == 0:
        return "Neutral"
    elif pol <= -0.75:
        return "Negative"
    else :
        return "Extremely Negative"
df["Sentiment"]=df["Average_Polarity"].apply(sentiment)
df

,CUSTOMER NAME,RATING,REVIEW,REVIEW1,Polarity,Subjectivity,Average_Polarity,Sentiment
0,Bijaya Mohanty,5,Just go for it.Amazing one.Beautiful camera wi...,"[Just go for it., Amazing one.]","[0.0, 0.6000000000000001]",0.633333,0.300000,Positive
1,Rishabh Jha,5,Awesome üî•üî•‚ò∫Ô∏è,[],[],1.000000,0.000000,Neutral
2,Ajin V,5,High quality cameraüòç,[],[],0.540000,0.000000,Neutral
3,Mousam Guha Roy,4,Very nice,[],[],1.000000,0.000000,Neutral
4,Nikhil Kumar,5,Switch from OnePlus to iPhone I am stunned wit...,[Switch from OnePlus to iPhone I am stunned wi...,"[0.0, 1.0]",1.000000,0.500000,Positive
...,...,...,...,...,...,...,...,...
295,Prajwal Suryan,5,"Awesome phone, camera‚úÖ, build‚úÖ, battery lasts ...",[],[],0.500000,0.000000,Neutral
296,Sahaj Modi,5,Amazing Camera and Nice Colour...,[Amazing Camera and Nice Colour.],[0.6000000000000001],0.950000,0.600000,Positive
297,Amit Srivastava,5,It is the best iPhone that I have ever seen af...,[It is the best iPhone that I have ever seen a...,"[0.8, 0.0, 0.0]",0.733333,0.266667,Positive
298,John Fanai,5,"Awesome ü´∞ As a first time ios user, I literall...","[Awesome ü´∞ As a first time ios user, I literal...","[0.75, 0.15, 0.084, 0.0, 0.0, 0.0]",0.576364,0.164000,Positive
299,Md Nisar Ansari,5,I am very happy to buy it because its camera i...,[I am very happy to buy it because its camera ...,[0.6459999999999999],0.868000,0.646000,Positive

In [9]:
pol = df["Average_Polarity"].mean()

if pol <= -0.6:
    print("Extremely Negative")
elif pol <= -0.2:
    print("Negative")
elif pol <0.2:
    print("Neutral")
elif pol <= 0.6:
    print("Positive")
else:
    print("Extremely Positive")

In [10]:
if pol <= -0.6:
    print("Extremely Negative")
elif pol <= -0.2:
    print("Negative")
elif pol <0.2:
    print("Neutral")
elif pol <= 0.6:
    print("Positive")
else:
    print("Extremely Positive")

Positive

# üí° Strategic Recommendations Based on Sentiment Analysis of iPhone 15 (128GB, Blue) Reviews on Flipkart

## 1. Highlight Key Strengths in Marketing Campaigns
Customer sentiment is overwhelmingly positive, with high average polarity scores across reviews. Users frequently praise the iPhone 15 for its **impressive camera**, **fluid performance**, and **vibrant display**. These standout features should be front and center in all promotional messaging to reinforce product strengths.

## 2. Use Authentic Customer Feedback in Promotions
Many reviews start with concise, enthusiastic statements that can be repurposed for **ads and banners**. Showcasing **real user quotes** not only builds trust but also adds a personal touch that resonates with potential buyers.

## 3. Address Delivery and Packaging Concerns
While rare, negative feedback mostly revolves around **delivery delays** and **packaging issues**. Flipkart can enhance the post-purchase experience by:
- Providing **clearer tracking updates**
- Conducting **thorough packaging checks** before dispatch

## 4. Guide Customers Toward Feature-Focused Reviews
Most feedback is subjective, with limited mention of specific product aspects. Flipkart could prompt reviewers to share thoughts on features such as:
- **Battery life**
- **Camera quality**
- **Design**

This would enrich review content and support **better purchase decisions** for future shoppers.

---

## ‚úÖ Conclusion
The **iPhone 15 (128GB, Blue)** enjoys strong approval from buyers on Flipkart. By **amplifying its praised features** and **tightening delivery communication**, Flipkart can further **strengthen customer satisfaction and trust**.